h1, h2, h3, h4 {
    font-weight: bold;
}
#header {
    padding: 0;
}
.logo {
    background: #0058B6;
    margin: 0;
    padding-bottom: 10px;
}
.logo img {
    height: 120px;
}
.logo p {
    color: #ffffff;
    padding-bottom: 0px;
    font-family: input-sans, sans-sarif;
}
.social-buttons i {
    color: #ffffff;
    padding: 5px 5px 0 5px;
    font-size: 3em;
}
.social-footer i {
    color: #ffffff;
}
i:hover {
    color: red;
}
nav ul {
    background-image: url('../images/american-flag-crop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
nav ul li{
    display: inline-block;
}
    nav ul li a {
        padding: 18px;
        font-size: 2em;
        font-family: trade-gothic-next-condensed, sans-serif;
        font-style: italic;
        font-weight: bold;
        display: block;
        background-color: rgba(0, 88, 182, .7);
        color: #ffffff;
    }
nav ul a:hover, a:active, a:focus{
    color: #1543f0;
    background-color: rgba(255, 255, 255, .7);
    text-decoration: none;
}
.active {
    color: #0058B6;
    background-color: rgba(255, 255, 255, 1);
}
main {
    background-image: url(../images/TelAmeriCorp-bg-opaque.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.main-content h2 {
    text-align: center;
    font-family: trade-gothic-next, sans-serif;
    font-size: 4em;
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    color: #ffffff;
    margin-bottom: 20px;
}
    .main-content h2 span {
        background-color: rgba(0, 88, 182, .8);
        padding: 8px 25px;
        border-radius: 25px;
    }
.main-content h3 {
    text-align: left;
    font-family: trade-gothic-next, sans-serif;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    color: #ffffff;
    margin-bottom: 8px;
}
    .main-content h3 span {
    background-color: rgba(0, 88, 182, .8);
    padding: 8px 15px;
    border-radius: 15px;
    }
.main-content p {
    background-color: #ffffff;
    font-family: trade-gothic-next, sans-serif;
    font-size: 1.3em;
    padding: 1.5rem;
    border-radius: 25px;
}
.choose img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    padding-bottom: 10px;
}
.move-right {
    text-align: right;
    
}
.contactList{
    text-align: center;
    display: block;
}
.contactList li{
    list-style-type: none;
    font-weight: bold;
    padding: 5px;
}
footer{
    background-color: #0058B6;
    text-align: left;
}
    footer i {
        font-size: 2em;
        margin: 0px 5px 0 5px;
    }
.copyright {
    color: #ffffff;
    padding-bottom: 0px;
    font-family: input-sans, sans-sarif;
    font-size: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.clear{
    clear: both;
}
#rightColumn{
    float: right;
    width: 25%;
}
section{
    text-align:center;
}
.column{
    float: left;
    width: 25%;
    padding: 0 10px;
}

body {
    color: #000
}
.row{
    margin: 0 -5px;
}
.row:after{
    content:"";
    display: table;
    clear: left;
}
.card{
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
    position: relative;
    width: 80%;
}
.invalid {
    color: red;
    white-space: nowrap;
    text-align: left;
}

.bio {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, .75);
}
    .card:hover .bio {
        
       opacity: 1;
    }

@media screen and (max-width: 600px){
    .column{
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
